# Core dependencies
deepagents>=0.4.12
langchain>=1.0
langchain-openai>=0.1.0
langchain-deepseek>=1.0.0
python-dotenv>=1.0.0
langgraph>=1.0
tavily-python>=0.7.0

# Optional - for different LLM providers
langchain-anthropic
langchain-google-genai
dashscope
